@CHARSET "UTF-8";

/*Header center*/
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}
/*Header End*/
/*Center*/
.center{
	margin-top:1%;
}
.centerbtn{
	margin-top:6%;
	text-align:center;
}